{{!-- Handlebars Info --}}

<div class="jumbotron text-center">
    <h1>"Hello, Scrape!"</h1>
</div>

<div id="wrapper">
    <div id="articles"></div>
    <div id="comments"></div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/javascript/index.js"></script>
