{{!-- Handlebars Info --}}

<div class="jumbotron text-center">
    <h1>"Hello, Scrape!"</h1>
</div>

<div id="wrapper" class="bg-info text-center">
    <div id="articles" class="border"></div>
    <div id="comments"></div>
</div>


