{{!-- Handlebars Info --}}

<div class="jumbotron text-center border-bottom" id="page-title">
    <h1>"All the News Fit to Scrape!"</h1>
</div>

<div id="wrapper" class="text-center bg-dark pt-1">
    <div class="m-3 bg-dark">
        <h2 class="text-light">Articles</h2>
    </div>
    <div id="articles" class="bg-dark"></div>
    <div id="comments"></div>
</div>